.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1f2937;
    padding: 10px;
}

ul{
    gap: 20px;
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 24px;
    color: #f9faf8;
}

.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}

.body-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f2937;
}

.top-row {
    display: flex;
    background-color: #1f2937;
    align-items: baseline;
    margin-bottom: 60px;
}

.subtext {
    width: 200px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    max-width: 300px;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
}

button {
    width: 80px;
    border-radius: 10px;
    background-color: #3882f6;
    color: white;
    border: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border-style: ridge;
    border-color: #3882f6;
}

.title{
    display: flex;
    justify-content: center;
    color: #1f2937;
    font-size: 32px;
    font-weight: bolder;
    margin: 25px;

}

.random{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info{
    max-width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}